.main {
  padding: 12px;
  width: 400px;
  margin-top: 100px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 800px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
}

.fileUploaderSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

@media (max-width: 400px) {
  .fileUploaderSection {
    display: none;
  }
}

.uploadText {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
  margin: auto;
}

/* .step {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stepText {
  font-weight: 400;
  padding-right: 10px;
} */

.demoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: 40px;
  background: #4050b6;
}

.demoImg {
  width: 250px;
  padding-bottom: 35px;
}

.modalTitle {
  padding-bottom: 20px;
  font-weight: 600;
}

.modalText {
  font-weight: 200;
  padding-bottom: 8px;
}
