.main {
  padding: 12px;
  width: 400px;
  margin-top: 100px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 800px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
}

.fileUploaderSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

@media (max-width: 400px) {
  .fileUploaderSection {
    display: none;
  }
}

.uploadText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.demoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: 40px;
  background: #4050b6;
}

.demoImg {
  width: 250px;
  height: 233px;
  padding-bottom: 35px;
}

.modalTitle {
  font-weight: 600;
}

.modalRow {
  padding-bottom: 8px;
  display: flex;
}

.step {
  width: 60px;
  font-weight: 700;
}

.description {
  width: 250px;
  color: rgba(0, 0, 0, 0.75);
}
