.bucketSections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bucket {
  width: 30%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .bucket {
    width: 100%;
  }
}

.nonselectedBucketHeader:hover {
  background: rgba(0, 0, 0, 0.08);
}

.titleIcon {
  padding-right: 18px;
}
