.bucketSections {
  display: flex;
  justify-content: space-between;
}

.bucket {
  width: 30%;
}

.selectedBucketHeader {
  background: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  padding: 5px;
}

.nonselectedBucketHeader {
  display: flex;
  align-items: center;
  padding: 5px;
}

.titleIcon {
  padding-right: 18px;
  padding-left: 5px;
  flex-shrink: 0;
  display: inline-flex;
}
