.bucketSections {
  display: flex;
  justify-content: space-around;
}

.bucketHeader {
  display: flex;
  align-items: center;
}

.tagIcon {
  padding-left: 10px;
  display: inline-flex;
  flex-shrink: 0;
}

.bucketTitle {
  padding-left: 32px;
  font-size: 22px;
}

.freqText {
  color: #818181;
}
